@charset "utf-8";


/* login og midlertidig registrering */

section#user_box {
	width: 40%;
	margin: 100px auto 0 auto;
	background-color: #122c41;
}
section#user_box header {
	width: 100%;
}
section#user_box h2 {
	color: #white;
	text-align: center;
	padding: 20px 0 20px 20px;
	margin: 0 0 10px 0;
	background-color: #EAEDFF;
}
section#user_box input.type {
	width: 40%;
	font-size: 20px;
	padding: 10px;
	border: 1px solid #E0E0E0;
	outline: none;
	position:relative;
	left: 157px;
	-webkit-box-sizing: border-box;‌​
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
section#user_box div.error_message {
	width: 100%;
	padding: 20px 10px;
	margin: 10px 0;
	background-color: red;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	box-shadow: 0 0 4px #CFCFCF;
	-webkit-box-sizing: border-box;‌​
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
section#user_box div.success_message {
	width: 100%;
	padding: 20px 10px;
	margin: 10px 0;
	background-color: green;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	box-shadow: 0 0 4px #CFCFCF;
	-webkit-box-sizing: border-box;‌​
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
section#user_box input.submit {
	font-size: 20px;
	outline: none;
	background-color: #EAEDFF;
	border: none;
	position:relative;
	width: 50%;
	padding: 16px 0;
	font-weight: bold;
	color: #black;
	cursor: pointer;
	margin: 0 0 20px 0;
	-webkit-box-sizing: border-box;‌​
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
section#user_box input.submit:hover {
	background-color: #d2d5e5;
}
section#user_box input.submit:active {
	background-color: #a8aab7;
}
section#user_box div {
	padding: 10px 20px;
}

.reglink {
	text-align: left;
	margin: 10px 0 0 0;
	padding: 0 0 25px 0;
	position:relative;
	bottom: 80px;
	left: 400px;
}
.reglink a {
	color: #EAEDFF;
}

/* Brukeradministrasjon */
section#administer_users {
	width: 60%;
	margin: 0 auto;
	background-color: #fff;
}
section#administer_users header {
	color: #FFF;
	padding: 20px 0 20px 20px;
	margin: 0 0 10px 0;
	background-color: #A70303;
}
section#administer_users a {
	margin-right: 20px;
	margin-top: 15px;
	color: #009EFF;
	font-weight: normal;
}
section#administer_users h1 {
	/*color: #FFF;
	padding: 20px 0 20px 20px;
	margin: 0 0 10px 0;
	background-color: #009EFF;*/
}
section#administer_users h2 {
	padding: 0 20px;
	text-align: center;
}
section#administer_users table {
	width: 90%;
	margin: 10px auto 0 auto;
	padding: 0 0 20px 0;
}
section#administer_users table th {
	padding: 0 0 10px 0;
}
section#administer_users table td {
	text-align: center;
}
section#administer_users input.type {
	width: 100%;
	font-size: 20px;
	padding: 10px;
	border: 1px solid #E0E0E0;
	outline: none;
	-webkit-box-sizing: border-box;‌​
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
section#administer_users div.error_message {
	width: 100%;
	padding: 20px 10px;
	margin: 10px 0;
	background-color: red;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	box-shadow: 0 0 4px #CFCFCF;
	-webkit-box-sizing: border-box;‌​
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
section#administer_users div.success_message {
	width: 100%;
	padding: 20px 10px;
	margin: 10px 0;
	background-color: green;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	box-shadow: 0 0 4px #CFCFCF;
	-webkit-box-sizing: border-box;‌​
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
section#administer_users input.submit {
	font-size: 20px;
	outline: none;
	background-color: #A70303;
	border: none;
	width: 100%;
	padding: 20px 0;
	font-weight: bold;
	color: #FFF;
	cursor: pointer;
	margin: 0 0 20px 0;
	-webkit-box-sizing: border-box;‌​
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
section#administer_users input.submit:hover {
	background-color: red;
}
section#administer_users input.submit:active {
	background-color: red;
}
section#administer_users div {
	padding: 10px 20px;
}
section#administer_users h2 {
	padding: 0 20px;
}
section#administer_users select {
	width: 100%;
	font-size: 20px;
	padding: 10px;
	border: 1px solid #E0E0E0;
	outline: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

section#user_admin_bar div{
	color: black;
}

.form-control {
	padding: 20px 15px;
	font-size: 16px;
	height: 50px;
}
div > .btn {
	margin-top: 10px;
}